[data-theme='dark'] {
  --ifm-color-primary: #00bfa6;
  --ifm-color-primary-dark: #00ac95;
  --ifm-color-primary-darker: #00a28d;
  --ifm-color-primary-darkest: #008674;
  --ifm-color-primary-light: #00d2b7;
  --ifm-color-primary-lighter: #00dcbf;
  --ifm-color-primary-lightest: #00f8d8;
  --ifm-background-color: #14161b !important;
}

header {
  background-color: #14161b !important;
}

.navbar {
  background-color: #0c0f11;
}
