.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.non-selectable rect {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 0px;
  stroke-opacity: 0;
}
